//
// ======================== //
// ==      PoLLi-RPG     == //
// ======================== //
//

// // -----------------------------------------------------------------------------
// // Colors
$primary: #ff5733;
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);

$red: hsl(0, 100%, 63%);

$text: #e4e6eb;
$text-strong: #e4e6eb;

$scheme-main: #3d3d3d;

// // -----------------------------------------------------------------------------
// // Fonts
$family-sans-serif: 'Poppins', sans-serif;
$family-primary: $family-sans-serif;
$family-secondary: $family-sans-serif;

// // -----------------------------------------------------------------------------
// // Body
$body-background-color: #121212;
$body-color: #e4e6eb;
$body-family: $family-primary;

// // -----------------------------------------------------------------------------
// // Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// // -----------------------------------------------------------------------------
// // Form
$input-background-color: #121212;
$input-border-color: #212121;

// // -----------------------------------------------------------------------------
// // Transition and Animations
$transition-base: all 0.2s ease-in-out;
$transition-fade: opacity 0.15s linear;
$transition-collapse: height 0.35s ease;
